@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  padding: 100px 0;
}
.container-main {
  min-height: 100vh;
  background-color: rgba(255, 165, 0, 0.3);
}

.content {
  width: 980px;
  margin: 0 auto;
}

.content-overview {
  padding: 80px 40px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  font-family: "GmarketSansMedium";
}
.content-overview .page-title {
  margin-bottom: 40px;
  font-size: 42px;
  font-weight: 700;
}
.content-overview .page-list li {
  position: relative;
  margin-bottom: 20px;
  padding-left: 20px;
}
.content-overview .page-list li a {
  display: inline-block;
  position: relative;
  font-size: 15px;
  font-weight: 500;
  color: #333;
  text-decoration: none;
}
.content-overview .page-list li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 0;
  height: 8px;
  background-color: orange;
  opacity: 0.5;
  transition: width 0.3s;
}
.content-overview .page-list li a:hover::after {
  width: 100%;
}
.content-overview .page-list li::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 0;
  width: 4px;
  height: 4px;
  background-color: #000;
  border-radius: 50%;
}

.content-colors {
  --tile-width: 317px;
  --perspective: 350px;
}
.content-colors .current-colorchip {
  display: block;
  padding: 50px 0 40px;
  font-size: 50px;
  font-weight: 800;
  transform: perspective(var(--perspective)) translateZ(0px) rotateY(0deg) scale(1);
  transform-origin: center center;
  transform-style: preserve-3d;
}
.content-colors .colorchip-area .colors {
  display: inline-flex;
  padding-bottom: 2px;
}
.content-colors .colorchip-area .color-item {
  position: relative;
  width: 42px;
  box-sizing: border-box;
}
.content-colors .colorchip-area .color-item[data-color-name=blue] label::before {
  background-color: #c0cfde;
}
.content-colors .colorchip-area .color-item[data-color-name=purple] label::before {
  background-color: #e7d7e9;
}
.content-colors .colorchip-area .color-item[data-color-name=midnight] label::before {
  background-color: #31353a;
}
.content-colors .colorchip-area .color-item[data-color-name=starlight] label::before {
  background-color: #f0ece8;
}
.content-colors .colorchip-area .color-item[data-color-name=red] label::before {
  background-color: #e11c2a;
}
.content-colors .colorchip-area .color-item input[type=radio] {
  appearance: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  border: none;
  opacity: 0;
}
.content-colors .colorchip-area .color-item input[type=radio]:checked + label::after {
  content: "";
  cursor: pointer;
  position: absolute;
  top: 4px;
  left: 50%;
  transform: translateX(-50%);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 2px solid #197ae5;
  box-sizing: border-box;
  background-color: transparent;
}
.content-colors .colorchip-area .color-item label {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 44px;
  box-sizing: border-box;
  cursor: pointer;
}
.content-colors .colorchip-area .color-item label::before {
  content: "";
  cursor: pointer;
  position: absolute;
  top: 8px;
  left: 50%;
  transform: translateX(-50%);
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  background-color: #ddd;
}
.content-colors .colorchip-area .color-item label .colorchip {
  position: absolute;
  text-indent: -9999px;
  font-size: 0;
  opacity: 0;
}
.content-colors .gallery {
  display: grid;
  grid-gap: 15px;
  gap: 15px;
  grid-template-columns: 1fr 1fr 1fr;
}
.content-colors .gallery-tile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  width: var(--tile-width);
  min-height: 336px;
  padding: 20px;
  background: #f5f5f7;
  border-radius: 20px;
}
.content-colors .gallery-tile-1 {
  order: 4;
}
.content-colors .gallery-tile-2 {
  order: 1;
  grid-row-end: span 2;
}
.content-colors .gallery-tile-3 {
  order: 2;
}
.content-colors .gallery-tile-4 {
  order: 3;
  align-items: flex-end;
  padding-bottom: 0;
}
.content-colors .gallery-tile-5 {
  order: 5;
  align-items: flex-start;
  justify-content: flex-end;
  padding-bottom: 0;
}
.content-colors .gallery-tile-5 .gallery-image {
  flex: none;
  width: 544px;
  height: 305px;
}
.content-colors .gallery-tile-6 {
  order: 6;
}
.content-colors .gallery-tile-7 {
  order: 7;
  grid-column-end: span 2;
  justify-content: flex-end;
  width: 648px;
  padding-bottom: 0;
}
.content-colors .gallery-tile .desc {
  font-size: 20px;
  font-weight: 700;
  color: #666;
  text-align: center;
}
.content-colors .gallery-tile img {
  display: block;
  width: 100%;
}
.content-colors .gallery .asset-list {
  position: relative;
  width: 100%;
  height: 100%;
}
.content-colors .gallery .asset-list .asset-wrap {
  position: absolute;
  opacity: 0;
}
.content-colors .gallery .asset-list .asset-wrap.on {
  opacity: 1;
}
.content-colors .gallery .asset-list-camera {
  --tile-width: 570px;
}
.content-colors .gallery .asset-list-camera .asset-wrap {
  bottom: 0;
}
.content-colors .gallery .asset-list-ceramic {
  --tile-width: 648px;
}
.content-colors .gallery .asset-list-ceramic .asset-wrap {
  bottom: 0;
  transform: translateX(648px);
}
.content-colors .gallery[data-anim-state=prepare][data-previous-name=blue] .asset-wrap-blue {
  transform: translateX(0);
  opacity: 1;
}
.content-colors .gallery[data-anim-state=prepare][data-previous-name=purple] .asset-wrap-purple {
  transform: translateX(0);
  opacity: 1;
}
.content-colors .gallery[data-anim-state=prepare][data-previous-name=midnight] .asset-wrap-midnight {
  transform: translateX(0);
  opacity: 1;
}
.content-colors .gallery[data-anim-state=prepare][data-previous-name=starlight] .asset-wrap-starlight {
  transform: translateX(0);
  opacity: 1;
}
.content-colors .gallery[data-anim-state=prepare][data-previous-name=red] .asset-wrap-red {
  transform: translateX(0);
  opacity: 1;
}
.content-colors .gallery[data-anim-state=animate] .asset-wrap {
  transition: transform 1s cubic-bezier(0.8, 0, 0.2, 1), opacity 1.3s ease;
}
.content-colors .gallery[data-anim-state=animate][data-current-name=blue] .asset-wrap-blue {
  transform: translateX(0);
  opacity: 1;
}
.content-colors .gallery[data-anim-state=animate][data-current-name=purple] .asset-wrap-purple {
  transform: translateX(0);
  opacity: 1;
}
.content-colors .gallery[data-anim-state=animate][data-current-name=midnight] .asset-wrap-midnight {
  transform: translateX(0);
  opacity: 1;
}
.content-colors .gallery[data-anim-state=animate][data-current-name=starlight] .asset-wrap-starlight {
  transform: translateX(0);
  opacity: 1;
}
.content-colors .gallery[data-anim-state=animate][data-current-name=red] .asset-wrap-red {
  transform: translateX(0);
  opacity: 1;
}
.content-colors .gallery[data-direction=right] .asset-wrap {
  transform: translateX(var(--tile-width));
}
.content-colors .gallery[data-direction=right][data-anim-state=animate] .current-colorchip {
  animation-name: colorchip-anim-right;
  animation-duration: 1.5s;
  animation-timing-function: cubic-bezier(0, 0, 0.33, 0.93);
}
.content-colors .gallery[data-direction=right][data-anim-state=animate][data-previous-name=blue] .asset-wrap-blue {
  transform: translateX(calc(var(--tile-width) * -1));
  opacity: 0;
}
.content-colors .gallery[data-direction=right][data-anim-state=animate][data-previous-name=purple] .asset-wrap-purple {
  transform: translateX(calc(var(--tile-width) * -1));
  opacity: 0;
}
.content-colors .gallery[data-direction=right][data-anim-state=animate][data-previous-name=midnight] .asset-wrap-midnight {
  transform: translateX(calc(var(--tile-width) * -1));
  opacity: 0;
}
.content-colors .gallery[data-direction=right][data-anim-state=animate][data-previous-name=starlight] .asset-wrap-starlight {
  transform: translateX(calc(var(--tile-width) * -1));
  opacity: 0;
}
.content-colors .gallery[data-direction=right][data-anim-state=animate][data-previous-name=red] .asset-wrap-red {
  transform: translateX(calc(var(--tile-width) * -1));
  opacity: 0;
}
.content-colors .gallery[data-direction=left] .asset-wrap {
  transform: translateX(calc(var(--tile-width) * -1));
}
.content-colors .gallery[data-direction=left][data-anim-state=animate] .current-colorchip {
  animation-name: colorchip-anim-left;
  animation-duration: 1.5s;
  animation-timing-function: cubic-bezier(0, 0, 0.33, 0.93);
}
.content-colors .gallery[data-direction=left][data-anim-state=animate][data-previous-name=blue] .asset-wrap-blue {
  transform: translateX(calc(var(--tile-width) * 1));
  opacity: 0;
}
.content-colors .gallery[data-direction=left][data-anim-state=animate][data-previous-name=purple] .asset-wrap-purple {
  transform: translateX(calc(var(--tile-width) * 1));
  opacity: 0;
}
.content-colors .gallery[data-direction=left][data-anim-state=animate][data-previous-name=midnight] .asset-wrap-midnight {
  transform: translateX(calc(var(--tile-width) * 1));
  opacity: 0;
}
.content-colors .gallery[data-direction=left][data-anim-state=animate][data-previous-name=starlight] .asset-wrap-starlight {
  transform: translateX(calc(var(--tile-width) * 1));
  opacity: 0;
}
.content-colors .gallery[data-direction=left][data-anim-state=animate][data-previous-name=red] .asset-wrap-red {
  transform: translateX(calc(var(--tile-width) * 1));
  opacity: 0;
}

@keyframes colorchip-anim-left {
  0% {
    transform: perspective(var(--perspective)) translateZ(0px) rotateY(0deg) scale(1);
  }
  20% {
    transform: perspective(var(--perspective)) translateZ(-327px) rotateY(-25deg) scale(2);
  }
  100% {
    transform: perspective(var(--perspective)) translateZ(0px) rotateY(0deg) scale(1);
  }
}
@keyframes colorchip-anim-right {
  0% {
    transform: perspective(var(--perspective)) translateZ(0px) rotateY(0deg) scale(1);
  }
  20% {
    transform: perspective(var(--perspective)) translateZ(-327px) rotateY(25deg) scale(2);
  }
  100% {
    transform: perspective(var(--perspective)) translateZ(0px) rotateY(0deg) scale(1);
  }
}

/*# sourceMappingURL=style.css.map */
